<!--
Template: Forgot Password

Description: This template is used to display the forgot password form, where users can enter their email address to
receive password reset instructions. When the form is submitted, it sends a POST request to the "/password/forgot"
endpoint to initiate the password reset process.
-->
{% extends "customer_layout.html" %}
{% block tabcontent %}
  <div class="form-forgot container">
    <form class="form-horizontal" action="/password/forgot" method="POST">
      <legend>Send password reset instructions</legend>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="text" id="email" name="email" placeholder="Enter your email">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary ok">Send</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
