<!--
Template: Reset Password

Description: This template is used to display the reset password form, which allow users to reset their password by
entering a new password and confirming it.

Template Variables:
     - user: An object containing information about the user, such as 'name', 'email', etc.
-->
{% extends "customer_layout.html" %}
{% block tabcontent %}
  <div class="form-reset container">
    <form class="form-horizontal" action="" method="POST">
      <legend>Reset password for {{ user.email }}</legend>
      <div class="control-group">
        <label class="control-label" for="password">New password</label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="New password">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password_confirm">Confirm password</label>
        <div class="controls">
          <input type="password" id="password_confirm" name="password_confirm" placeholder="Confirm password">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary ok">Reset password</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
