<!--
Template: Success Page

Description: This template is used to display a generic success page, and is typically shown after successful operations
such as password reset or email confirmation.

Template Variables:
    - success_message: A string representing the success message to be displayed on the page.
-->
{% extends "customer_layout.html" %}
{% block tabcontent %}
  <div class="form-success container">
    <p>
      {{ success_message }}
    </p>
    <p>You may close this browser page now.</p>
  </div>
{% endblock %}
